@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&display=swap');

#top {
    display: grid;
    grid-template-columns: 150px auto;
    position: absolute;
    padding-top: 20px;
}
#bodyi {
    width: 100%;
    margin-left: 0;
}
main #home-grid {
    background-color: #FFE8D6;
    padding-bottom: 25px;
    padding-top: 25px;
}
nav a:hover{
    color: #FFE8D6;
    background-color: #6B705C;
}
nav a{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    color:#6B705C;
    background-color: #ffe8d6;
    text-decoration: none;
    float: left;
}
.logo{
    max-width: 70px;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero{
    margin-bottom: -10px;
}
#hero-img{
    max-width: 100%;
    margin-top: -100px;
    margin-bottom:0;
    z-index: -1;
}
.main_title{
    font-family: 'Noto Serif Display', serif;
    font-weight: 500;
    font-size: 3em;
    text-align:center;
    color: white;
    background-color:#CB997E;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.Purpose{
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 30px;
}
.purpose-title{
    font-family: 'Noto Serif Display', serif;
    font-weight: 400;
    color: black;
}
.purpose-para{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.15em;
    color: #6B705C;
}
.Throwing{
    max-width:100%;
    grid-column: 1/2;
    padding-left: 20px;

}
#purpose_script{
    grid-column:2/3;
    margin: 20px;
    padding-left: 40px;
    vertical-align: middle;
}
.statement{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 30px;
}
.statement-title{
    font-family: 'Noto Serif Display', serif;
    font-weight: 400;
    color: black;
    font-size: 1.5em;

}
.statement-para{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.15em;
    color:#6B705C;
}
.drying{
    max-width:100%;
    grid-column: 2/3;
    border-right: 20px;
}
#statement_script{
    grid-column:1/2;
    margin: 20px;
    vertical-align: middle;
    margin-right:40px;
}
footer {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column: 2/3;
    text-align: center;
    background-color:#B7B7A4;
    padding-bottom: 10px;
    margin-bottom: -10px;
}
#foot_info{
    grid-column: 2/3;
}
.mail_title{
    font-family: 'Noto Serif Display', serif;
    color: #6B705C;
}
.submit{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}
.insta_logo{
    max-width:35px;
}
.phone{
    max-width:35px;
}
.email{
    max-width:35px;
}
.copy{
    font-family: 'Noto Serif Display', serif;
    color:#6B705C;
}
.site-plan{
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
    color:#6B705C;
    padding-bottom: 10px;
    background-color: #B7B7A4;
}
.site-plan:hover{
    color:#FFE8D6;
    background-color: #6B705C;
}



.aboutme {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #fdfbed;
    margin-top:-10px;
    grid-gap: 20px;
}
.emyimage {
    height: 500px;
    width: 333.4px;
}
.personal-img{
    max-width: 100%;
    max-height: 100%;
    justify-items: center;
}
.about-words {
    grid-column: 2/3;
    padding-right: 200px;
}
.about-words p {
    font-family: 'Nanum Gothic', sans-serif;
}
.about-words h2 {
    font-family: 'Noto Serif Display', serif;
}

.photos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #fdfbed;
    padding:50px;
    grid-gap: 20px;
}
.cups {
    max-width: 100%;
    object-fit: contain;
    max-height: 250px;

}
.pull video{
    max-width: 100%;
    align-content: center;
    object-fit: contain;
}
.vi video{
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
}
.cu, .pull, .vi {
    object-fit: scale-down;
}
.vi {
    justify-content: right;

}