
main{
    display:grid;
    grid-template-columns: 1fr 2fr;
}
#glasses-img {
    width: 300px;
}
#heading{
    font-size: 3em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
#paragraph{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}
#name{
    font-family: 'Montserrat', sans-serif;
    margin: 15px auto;
    display: block;
    block-size: 3em;
    width: 80%;
}
#email{
    font-family: 'Montserrat', sans-serif;
    margin: 15px auto;
    display: block;
    width: 80%;
    block-size: 3em;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 15px auto;
    text-center

}